[Desktop Entry]
Name=Vindöga 8 Green
Comment=aurorae theme

X-KDE-PluginInfo-Author=garthecho 2014, original by Microsoft.
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
